.list {
    padding: 1%;
    background-color: grey;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
}
.about {
    padding-right: 2%;
    font-size: larger;
}
.home {
    padding-right: 2%;
    font-size: larger;
}
.search {
    padding-right: 2%;
    font-size: larger;
}
.login {
    font-size: larger;
}
a {
    color: black;
}
a:hover {
    color: rgb(58, 52, 52);
}